body { background: #002233; font-size: 14px; }
.main { background: #C0DEED; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px 0px; }
#header { padding-top: 20px; }
#header h1  { color: #FFF; margin-bottom: 0px; }

fieldset    { border: 1px solid #fff; }